@import 'Common/Variables.scss';

.app-aligned-area {
  display: table;
  height:100%;
  width: 100%;

  .app-vertical-align-area-content {
    display: table-cell;

    &.vertical-aligned-top {
      vertical-align: top;
    }

    &.vertical-aligned-middle {
      vertical-align: middle;
    }

    &.vertical-aligned-bottom {
      vertical-align: bottom;
    }

    &.horizontal-aligned-left {
      text-align: left;
    }

    &.horizontal-aligned-center {
      text-align: center;
    }

    &.horizontal-aligned-right {
      text-align: right;
    }

  }
}