@import 'Common/UI/Variables.scss';

.app-link {
  color: $colorInteractive;
  text-decoration: none;

  &:hover, &:active, &:focus {
    color: $colorInteracting;
    text-decoration: underline;
  }
}