@import 'App/Variables.scss';

.app-icon {
  color: $colorText;
  font-size: 24px !important;

  &.app-icon-style-info {color: $colorInfo;}
  &.app-icon-style-success {color: $colorSuccess;}
  &.app-icon-style-warning {color: $colorWarning;}
  &.app-icon-style-error {color: $colorError;}
  &.app-icon-style-interactive {color: $colorInteractive;}
  &.app-icon-style-secondary {color: $colorSecondary;}

  &.app-icon-size-xs {font-size: 18px !important;}
  &.app-icon-size-sm {font-size: 20px !important;}
  &.app-icon-size-md {font-size: 24px !important;}
  &.app-icon-size-lg {font-size: 30px !important;}
  &.app-icon-size-xl {font-size: 40px !important;}

  &.app-icon-clickable {
    cursor: pointer;

    &:hover, &:active, &:focus {
      color: $colorInteracting;
      text-decoration: underline;
    }
  }
}